* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 600px;
  margin: 0;
}
/* Container */
.container {
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 60px;
}
/* From left side */
.from {
  background-color: #1051ad;
  height: 580px;
  width: 460px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 18px;
}
.from h1,
p {
  color: #fff;
}
.from h1 {
  margin-left: 10px;
  margin-bottom: 22px;
  margin-top: 15px;
}
.from p {
  margin-left: 10px;
}
.comment {
  background-color: #fff;
  margin-top: 180px;
  width: 400px;
  height: 168px;
  padding: 15px;
  border-radius: 15px;
}
.comment p {
  color: #4c4c4e;

  line-height: 140%;
}
.cader_img {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.cader_img img {
  background-color: #c2d6ff;
  border-radius: 10px;
}
.titleImage {
  text-align: center;
  line-height: 2;
}
/* dots three points  */
.dots {
  text-align: center;
  margin-top: 15px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #8c6dfd;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.dot.active {
  background: #fff;
}

/* Sign right side */
.sign {
  width: 489px;
  height: 521px;
  margin-top: 130px;
}
.sign h1 {
  text-align: center;
  color: #28282b;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 25px;
}
.socialMedia {
  display: flex;
  gap: 16px;
}
.socialMedia button {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e7ebf7;
  text-align: center;
}
.Img {
  width: 20px;
  margin-right: 10px;
  margin-top: 5px;
}
.divider {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 60px;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  color: #5e5e65;
  margin-bottom: 10px;
}
input[type="email"],
input[type="password"] {
  padding-top: 13px;
  padding-right: 313px;
  padding-left: 13px;
  padding-bottom: 19px;
  margin-bottom: 25px;
  border-radius: 1px;
  border: 1px solid #e7ebf7;
  opacity: 1;
}
.password-row {
  display: flex;
  gap: 310px;
}
.password-row a {
  color: #83848f;
  text-decoration: none;
  font-weight: 305;
  font-size: 16px;
  line-height: 140%;
}
.remember {
  color: #83848f;
  font-size: 14px;
}
.sign-in {
  padding-top: 12px;
  padding-right: 213px;
  padding-left: 213px;
  padding-bottom: 12px;
  border-radius: 8px;
  background: linear-gradient(180deg, #8561ff 9.37%, #6c47ff 100%);
  box-shadow: 0px -1px 0px 1px #6b48f6;

  box-shadow: 0px 1px 0px 0px #8f6fff inset;

  border: 1px solid #8561ff;
  color: #fff;
  margin-top: 30px;
}

/* Responsive  */

/* Phones */
@media (max-width: 600px) {
  .from {
    display: none;
  }
  .sign {
    width: 100%;
    padding-right: 16px;
    padding-left: 15px;
  }
  .sign h1 {
    font-size: 40px;
  }
  .socialMedia {
    display: flex;
    flex-direction: column;
  }
  .socialMedia button {
    width: 100%;
  }
  .password-row {
    display: flex;
    gap: 150px;
  }
  .sign-in {
    padding-top: 12px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 12px;
    border-radius: 8px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    gap: 20px;
  }
  .from {
    width: 350px;
  }
  .prgh {
    font-size: 13px;
    font-weight: 400;
  }
  .comment {
    width: 300px;
    margin-top: 160px;
  }
  .comment p {
    font-size: 13px;
    font-weight: 300;
  }
}
